<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://cdn.ome.lt/dDOkhuesmOQItublIFHwR_87eHs=/480x360/smart/filer_public/aa/a3/aaa3782d-178d-46d2-8a8b-7a33bac75340/mark-hamill-star-wars.png"
      cardTitle="Matthew Vaughn apoia reboot de Star Wars"
      cardDescription="Diretor defende volta de Luke e Darth Vader"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Daniel Radcliffe nega que será o Wolverine"
      photoCover="https://cdn.ome.lt/V1ueIyrNfgbDr9gFMEOyzCPlVBc=/480x360/smart/filer_public/aa/de/aade4b94-6faa-4913-ab34-c1e00086f978/daniel-radcliffe-nega-wolverine-dq.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Netflix encerrará plano básico no Brasil"
      photoCover="https://cdn.ome.lt/y_pXM1fla_QiJTKH04Z9LguyHIc=/480x360/smart/filer_public/94/62/94624ab7-67e1-467c-b0ea-abf0bca551d7/nova_logo_da_netflix.jpg"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Scorcese busca um anti-western no novo filme"
      photoCover="https://cdn.ome.lt/IJ8YQ1cVo1B9TSRNUI3a6DGOIaw=/480x360/smart/filer_public/62/94/629470bd-d36d-4146-84b7-df2c1fd4b4a1/assassino-lua-flores.png"
    >
    </app-small-card>
  </div>
</div>
